# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Docker
**/Dockerfile
**/docker-compose*.yml

# Ignore Docker volumes or data directories (adjust path if needed)
data/
mongo-data/

# Optional: build directories
dist/
build/

# OS files
.DS_Store
Thumbs.db
